<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#33474d">
	<title><% if(page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>

	<header class="header">
		<nav class="header__nav">
			<% for(let key in theme.menu) { %>
				<a href="<%= theme.menu[key] %>" class="header__link"><%= key %></a>
			<% } %>
		</nav>
		<h1 class="header__title"><a href="<%- url_for() %>"><%= config.title %></a></h1>
		<h2 class="header__subtitle"><%- config.subtitle %></h2>
	</header>

	<main>
		<%- body %>
	</main>

	<%- partial('footer') %>


</body>

<script defer src="https://umami.jackat15.xyz/script.js" data-website-id="1ce60468-49fe-4514-aa63-717f800405a9"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D29M7ZJKCW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D29M7ZJKCW');
</script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "qdukmg0856");
</script>

</html>
